@import "tailwindcss";

@theme inline {
  --color-primary-50: #fce4ec;
  --color-primary-100: #f8bbd0;
  --color-primary-200: #f48fb1;
  --color-primary-300: #f06292;
  --color-primary-400: #ec407a;
  --color-primary-500: #e91e63;
  --color-primary-600: #d81b60;
  --color-primary-700: #c2185b;
  --color-primary-800: #ad1457;
  --color-primary-900: #880e4f;

  --color-accent-50: #e3f2fd;
  --color-accent-100: #bbdefb;
  --color-accent-200: #90caf9;
  --color-accent-300: #64b5f6;
  --color-accent-400: #42a5f5;
  --color-accent-500: #2196f3;
  --color-accent-600: #1e88e5;
  --color-accent-700: #1565c0;
  --color-accent-800: #0d47a1;
  --color-accent-900: #0a2472;
}

body {
  @apply bg-gray-50 text-gray-900;
}

button {
  cursor: pointer;
}